@{
    ViewBag.ActiveLink = "Administration";
}

<ol class="breadcrumb">
    <li>Administration</li>
    <li>Master Data</li>
    <li class="active">@ViewBag.Type</li>
</ol>

<ul class="nav nav-tabs nav-justified">
    @foreach (var item in ViewBag.MasterDataType)
    {
        <li @(item.ToString() == ViewBag.Type ? "class=active" : "")>
            <a href="/MasterData/@item">@item</a>
        </li>
    }
</ul>

<div class="panel">
    <div class="panel-body pull-right">
        <a href="/MasterData/Import/@ViewBag.Type" class="btn btn-default" role="button">Import Data</a>
    </div>
    @Html.Partial(String.Format("~/Views/MasterData/_{0}.cshtml", (string)ViewBag.Type), (object)Model)    
</div>